body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
}

.NavBar {
  background-color: #000;
  color: #fff;
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 1.5rem;
}

.NavBar h1 {
  margin: 0;
  padding: 0;
}

.NavBar nav {
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.Shop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  padding: 5rem;
}

.Item {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Item:hover {
  border: 5px solid black;
}

.Item img {
  max-width: 100%;
}

