body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
}

.NavBar {
  background-color: #000;
  color: #fff;
  display: flex;
  gap: 4em;
  align-items: center;
  padding: 1.5em;
}

.NavBar h1 {
  margin: 0;
  padding: 0;
}

.NavBar nav {
  font-size: 1.5em;
  display: flex;
  gap: 2em;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  border-radius: 15px;
}

.link-to-shop {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  padding: 1.5rem;
  border: 1px solid #000;
}

.link-to-shop:hover {
  background-color: #fff;
  color: #000;
}

.Shop {
  display: grid;
  grid-template-columns: repeat(5, 15vw);
  gap: 4em;
  box-sizing: border-box;
  padding-top: 5em;
  justify-content: center;

}

.Item {
  background-color: white;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  text-decoration: none;
  color: inherit;
  font-size: 1.5em;

  width: 100%;

}

.Item:hover {
  border: 5px solid black;
}

.Item img {
  max-width: 100%;
  height: auto;
}

.ItemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100vw;
  height: 90vh;

  box-sizing: border-box;
  
}

.ItemInfo img {
  border: .15rem solid black
}

.info-container {
  font-size: 1.5em;
  max-width: 30vw;
  text-align: justify;
}

.add-item {
  font-size: 1em;
  background-color: #000;
  color: #fff;
  padding: 1em;
  border: none;
  margin-top: 1rem;
}

.add-item:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.shopping-cart-link-container {
  margin-left: auto;
  margin-right: 3rem;
}

.shopping-cart-link {
  background-color: #000;
  border: none;
  color: #fff;
  max-width: 4rem;
  max-height: 4rem;

  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.shopping-cart-link img {
  max-width: 50%;
}

.ShoppingCart {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.SelectedItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 20vh;
  padding: 0 5rem;  
}

.SelectedItem img {
  max-height: 15vh;
  border: 1px solid black;
}

.checkout {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  width: 30rem;
  margin: auto;
  padding: 1rem;
  border: none;
}

.checkout:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.cart-amount {
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: red;
  padding:.2em;
  text-decoration: none;
}

.item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.item-quantity button {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;

  background-color: #000;
  color: #fff;
  border: none;
}

.item-quantity button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.name-in-cart {
  width: 30vw;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .Shop {
    grid-template-columns: repeat(5, 10vw);
    padding: 2em;
  }
}

@media only screen and (max-width: 500px) {
  .Shop {
    display: flex;
    flex-direction: column;
  }

  .NavBar {
    display: flex;
    flex-direction: column;
  }

  .shopping-cart-link-container {
    margin: 0;
  }

  .NavBar nav{
    flex-direction: column;
  }
}
